*.csv filter=lfs diff=lfs merge=lfs -csv
"/home/martinez_felipe/Programação/Python_Programas/Diversos/Detector_FraudeAI/creditcard" filter=lfs diff=lfs merge=lfs -csv
~/Programação/Python_Programas/Diversos/Detector_FraudeAI/creditcard filter=lfs diff=lfs merge=lfs -csv
creditcard filter=lfs diff=lfs merge=lfs -csv
creditcard.csv filter=lfs diff=lfs merge=lfs -text
