imbalanced-learn==0.12.2
imblearn==0.0
ipykernel==6.29.4
ipython==8.24.0
joblib==1.4.2
jupyter_client==8.6.2
jupyter_core==5.7.2
matplotlib==3.9.0
matplotlib-inline==0.1.7
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.2.2
scikit-optimize==0.10.1
scipy==1.13.1
seaborn==0.13.2
sklearn-utils==0.0.15
xgboost==2.0.3
joblib
streamlit
